html {
    scroll-behavior: smooth;
}

.portfolio,
.about,
.contact,
.service {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 160px;
}


.jumbotron {
    background-image: url('img/9.jpg');
    background-size: cover;
    height: 500px;
    margin-top: 30px;

}

.jumbotron .display-4 {
    margin-top: 150px;
    margin-left: 580px;
    font-size: 40px;
    font-weight: bold;

}

.jumbotron .lead {
    margin-left: 580px;
}

.jumbotron .btn {
    margin-left: 580px;
}

.card {
    width: 20rem;
    margin-top: -100px;
    margin-left: 50px;
}

hr {
    width: 100px;
    border-top: 3px solid #eaeaea;
    margin-top: -55px;
}

#btnScroll {

    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    box-shadow: white;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 99;

    padding: 10px;
}

#btnScroll:hover {
    background-color: blue;
}


.float {
    position: fixed;
    width: 60px;
    height: 60px;
    left: 20px;
    bottom: 10px;

    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}